@font-face {
  font-family: 'Open sans';
  src: url('./fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open sans';
  src: url('./fonts/OpenSans-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dela Gothic One';
  src: url('./fonts/DelaGothicOne-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary: burlywood;
  --secondary: #000000a1;
  --bgBtn: antiquewhite;
  --light: #ffffff;
  --dark: #000000;
  --blue: #000395b5;

  --boxShadow:  0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

html {
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

body {
  background-image: url('../images/background/fon1.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  font-family: 'OpenSans', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  color: var(--secondary);
}

.page {
  height: 100vh;
  padding: 35px;
}

.maim_wrapper {
  display: flex;
  justify-content: space-between;
}





